flow1.json
[{"id":"b4deb1e5304b12d6","type":"debug","z":"6855fb421e1123e2","name":"cpustatus","active":true,"complete":"false","x":800,"y":300,"wires":[]},{"id":"850fe4aaa2743071","type":"template","z":"6855fb421e1123e2","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":652,"y":348,"wires":[["b4deb1e5304b12d6"]]},{"id":"731c57e4a10b336c","type":"template","z":"6855fb421e1123e2","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature({{payload}}) within safe limits","x":653,"y":254,"wires":[["b4deb1e5304b12d6"]]},{"id":"18230c8c7cceb5e7","type":"switch","z":"6855fb421e1123e2","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":"40"},{"t":"gt","v":"40"}],"checkall":"true","outputs":2,"x":489,"y":303,"wires":[["731c57e4a10b336c"],["850fe4aaa2743071"]]},{"id":"23d47bf264e6fe9b","type":"function","z":"6855fb421e1123e2","name":"temp","func":"\nreturn { payload: msg.payload.d.temp, topic: 'Temperature' };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":202,"wires":[["514f2f24226c8426","18230c8c7cceb5e7"]]},{"id":"514f2f24226c8426","type":"debug","z":"6855fb421e1123e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":122,"wires":[]},{"id":"b18e83fa74dd2ad6","type":"mqtt in","z":"6855fb421e1123e2","name":"","topic":"\"iot-2/cmd/sendsensordata/fmt/json\"","qos":"0","datatype":"json","broker":"ac59fe1f.451f3","nl":false,"rap":false,"inputs":0,"x":180,"y":202,"wires":[["23d47bf264e6fe9b","514f2f24226c8426"]]},{"id":"ac59fe1f.451f3","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]