simulator_flow1.json
[
  {
    "id": "inject-sensor",
    "type": "inject",
    "z": "flow1",
    "name": "Générer toutes les 10s",
    "props": [],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payloadType": "date",
    "x": 160,
    "y": 100,
    "wires": [["function-random"]]
  },
  {
    "id": "function-random",
    "type": "function",
    "z": "flow1",
    "name": "Générer données aléatoires",
    "func": "const temp = Math.floor(Math.random() * 10) + 20; // 20 à 29\nconst humidity = Math.floor(Math.random() * 30) + 50; // 50 à 79\nconst objectTemp = Math.floor(Math.random() * 10) + 20; // 20 à 29\n\nconst deviceId = \"device-001\"; // ID du capteur\nconst topic = \"sensors/\" + deviceId + \"/data\"; // Topic dynamique\n\nmsg.topic = topic;\nmsg.payload = {\n    deviceId: deviceId,\n    d: {\n        temp: temp,\n        humidity: humidity,\n        objectTemp: objectTemp\n    }\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 100,
    "wires": [["debug-output", "mqtt-out"]]
  },
  {
    "id": "debug-output",
    "type": "debug",
    "z": "flow1",
    "name": "Voir les données",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 610,
    "y": 60,
    "wires": []
  },
  {
    "id": "mqtt-out",
    "type": "mqtt out",
    "z": "flow1",
    "name": "Publier vers MQTT",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "mqtt-broker-auth",
    "x": 610,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt-broker-auth",
    "type": "mqtt-broker",
    "name": "MQTT avec Auth",
    "broker": "mqtt.example.com",
    "port": "1883",
    "clientid": "node-red-simulator",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "user": "ton_utilisateurpassword" 
  }
]
